In [1]:
import json

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains
from bs4 import BeautifulSoup
import time
import pandas as pd
import warnings
import pymysql.cursors
from sqlalchemy import create_engine
import re
import requests
import random
warnings.filterwarnings('ignore')

In [4]:
import warnings
warnings.filterwarnings('ignore')
import pymysql
user = "movienight"
password = "09211009"
host = "132.226.150.234"
port = 3306
db = "chipnday_db"
encoding = 'utf8'
db = pymysql.connect(host=host, port=port, user=user, passwd=password, db=db, charset=encoding, autocommit=True,
                             cursorclass=pymysql.cursors.DictCursor)
cursor = db.cursor()

In [ ]:
cursor = db.cursor()
sql = "SELECT * FROM MovieInfo WHERE Trailer IS NULL ;"
cursor.execute(sql)
res = cursor.fetchall()
df = pd.DataFrame(res)

In [22]:
non_trailer_list =  df['TitleEn'].tolist()

In [25]:
len(non_trailer_list)

407

In [47]:
sql = f'SELECT * FROM MovieInfo;'
cursor.execute(sql)
res = cursor.fetchall()
db_df = pd.DataFrame(res)
t3 = db_df.to_dict(orient='index')

In [48]:
for i in range(len(t3)):
    t3[i]['Casts'] = eval(t3[i]['Casts'])
    t3[i]['OttLinks'] = eval(t3[i]['OttLinks'])
    if t3[i]['Director'] == 'null':
        t3[i]['Director'] = None
    else:
        t3[i]['Director'] = eval(t3[i]['Director'])

In [49]:
type(t3[694]['Director'])
type(t3[694]['OttLinks'][0])
#type(t3[694]['Casts'][0])

dict

In [157]:
for i in range(len(db_df['OttLinks'])):
    json_1 = json.dumps(db_df['OttLinks'][i],ensure_ascii=False)
    db_df['OttLinks'][i] = json_1
for j in range(len(db_df['Casts'])):
    json_2 = json.dumps(db_df['Casts'][j],ensure_ascii=False)
    db_df['Casts'][j] = json_2


db_df.head(3)

,TitleKr,TitleEn,Poster,Genre,Year,Kino,Tomato,Imdb,Star,OttLinks,Info,Director,Casts,Trailer,TrailerKey,KinoId
0,밴드 오브 브라더스,BAND OF BROTHERS,https://nujhrcqkiwag1408085.cdn.ntruss.com/sta...,드라마,2001,100.00,97.0,9.4,4.6,"""[{'Ott': '웨이브', 'OttLink': 'https://click.kin...","제2차 세계대전, 프랑스 노르망디에 상륙한 연합군 제101사단 506연대 2대대 '...","{""Director"": ""토니 토"", ""ProfilImg"": ""https://nuj...","""[{'Actor': '리차드 론크레인', 'ProfilImg': 'https://...",https://www.youtube.com/embed/aH06LWZs-Ys?enab...,aH06LWZs-Ys?enablejsapi=1&origin=https%3A%2F%2Fm,79900
1,체르노빌,Chernobyl,https://nujhrcqkiwag1408085.cdn.ntruss.com/sta...,드라마,2019,97.58,95.0,9.4,4.5,"""[{'Ott': '웨이브', 'OttLink': 'https://click.kin...","1986년 4월 26일, 소련 체르노빌에서 원자력 발전소 폭발 사고가 발생한다. 정...","{""Director"": ""요한 렌크"", ""ProfilImg"": ""https://nu...","""[{'Actor': '제시 버클리', 'ProfilImg': 'https://nu...",https://www.youtube.com/embed/s9APLXM9Ei8?enab...,s9APLXM9Ei8?enablejsapi=1&origin=https%3A%2F%2Fm,79906
2,하우스 오브 카드 시즌 2,House of Cards 2,https://nujhrcqkiwag1408085.cdn.ntruss.com/sta...,드라마,2014,100.00,83.0,8.7,4.5,"""[{'Ott': '넷플릭스', 'OttLink': 'https://click.ki...","미국 워싱턴 정계에서 벌어지는 권력, 야망, 사랑, 비리 등 백악관 스캔들을 다룬 ...","{""Director"": ""로빈 라이트"", ""ProfilImg"": ""https://n...","""[{'Actor': '제임스 폴리', 'ProfilImg': 'https://nu...",None,1nH5dwSPamg,80135

In [164]:
db_df['Casts'][0]

'"[{\'Actor\': \'리차드 론크레인\', \'ProfilImg\': \'https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/director_profile_images/director_62471_1522040180.jpg\'}, {\'Actor\': \'미카엘 살로먼\', \'ProfilImg\': \'https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/director_profile_images/director_60872_1547017289.jpg\'}, {\'Actor\': \'데미안 루이스 \', \'ProfilImg\': \'https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/actor_profile_images/actor_8318_1522139787.jpg\'}, {\'Actor\': \'론 리빙스턴\', \'ProfilImg\': \'https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/actor_profile_images/actor_8245_1522072204.jpg\'}, {\'Actor\': \'매튜 세틀\', \'ProfilImg\': \'https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/actor_profile_images/actor_7679_1521179528.jpg\'}, {\'Actor\': \'커크 에이스베도\', \'ProfilImg\': \'https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/actor_profile_images/actor_14239_1534491445.jpg\'}, {\'Actor\': \'에이온 바일리\', \'ProfilImg\': \'https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/actor_profile_images/actor_9441_1584605772.jpg\'}]"'

In [160]:
db_df['Director'][0]

'{"Director": "토니 토", "ProfilImg": "https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/director_profile_images/director_78942_1584605933.png"}'

In [161]:
db_df['OttLinks'][0]

'"[{\'Ott\': \'웨이브\', \'OttLink\': \'https://click.kinolights.com/redirect?url=https%3A%2F%2Fwww.wavve.com%2Fplayer%2Fvod%3Fprogramid%3DF3501_F35000000028&cx=eyJVc2VyQWdlbnQiOiJNb3ppbGxhLzUuMCAoTWFjaW50b3NoOyBJbnRlbCBNYWMgT1MgWCAxMF8xNV83KSBBcHBsZVdlYktpdC81MzcuMzYgKEtIVE1MLCBsaWtlIEdlY2tvKSBDaHJvbWUvMTAxLjAuNDk1MS42NCBTYWZhcmkvNTM3LjM2IiwiSW5kZXhTY29yZSI6MTAwLCJTdGFyUmF0aW5nIjo0LjYsIlZPREtleSI6NDk1MjQzLCJQcm92aWRlcktleSI6OCwiUHJvdmlkZXIiOiJ3YXZ2ZSIsIlByaWNlIjoi7KCV7JWh7KCcIiwiVHlwZSI6InN0cmVhbWluZyIsIlVzZXIiOm51bGwsIk1vdmllIjo3OTkwMCwiVGl0bGUiOiLrsLTrk5wg7Jik67iMIOu4jOudvOuNlOyKpCJ9&klid=debd97db-5e04-4fb5-8cad-cbca1dbc446d&source=kinolights&medium=organic&campaign=kinolights&content=title_provider\'}]"'

In [ ]:
for k in range(len(db_df['Director'])):
    json_3 = json.dumps(db_df['Director'][k],ensure_ascii=False)
    db_df['Director'][k] = json_3
db_df['Director'][0]

In [187]:
json__ = eval(db_df['Director'][0])

In [168]:
from crawling.db import db_insert

db_insert(db_df,'MovieInfo')

MovieInfo :: 695 insert success

In [188]:
len(non_trailer_list)
sql = f'SELECT * FROM MovieInfo;'
cursor.execute(sql)
res = cursor.fetchall()
changed_df = pd.DataFrame(res)
changed_df

OperationalError: (2013, 'Lost connection to MySQL server during query ([Errno 54] Connection reset by peer)')

In [172]:
changed_df['Director']

0      {"Director": "토니 토", "ProfilImg": "https://nuj...
1      {"Director": "요한 렌크", "ProfilImg": "https://nu...
2      {"Director": "로빈 라이트", "ProfilImg": "https://n...
3      {"Director": "제니퍼 애니스톤", "ProfilImg": "https:/...
4      {"Director": "존 포드", "ProfilImg": "https://nuj...
                             ...
690    {"Director": "마에다 마히로", "ProfilImg": "https://...
691    {"Director": "조지 A. 로메로", "ProfilImg": "https:...
692    {"Director": "파올로 소렌티노", "ProfilImg": "https:/...
693                                                 null
694    {"Director": "제레미 아이언스", "ProfilImg": "https:/...
Name: Director, Length: 695, dtype: object

In [225]:
str = df['Casts'][0]

In [ ]:
type(df['Casts'][0])

In [243]:
type(eval(str)[0])

dict

In [254]:
t2  = eval(test_dict['test'][0]['Casts']) # list
type(t2[0])
t2[0]

TypeError: eval() arg 1 must be a string, bytes or code object

In [242]:
t = [{"a": 1},{"b": 2},{"x": 3}]
type(t[0])

dict

In [259]:
len(df)

407

In [258]:
test = df.to_dict(orient='index')
test_dict = {"test" : test}
test_dict['test'][0]['Casts'] = eval(test_dict['test'][0]['Casts'])
test_dict['test'][0]['Casts']
type(test_dict['test'][0]['Casts'][0])
len(test_dict['test'])

407

In [262]:
t3 = db_df.to_dict(orient='index')
for c in t3:
    c['Casts'] = eval(c['Casts'])
    c['Casts'] = eval(c['Casts'])
    c['Casts'] = eval(c['Casts'])

695

In [261]:
for i in range(len(db_df)):

    test = df.to_dict(orient='index')
test_dict = {"test" : test}
test_dict['test'][0]['Casts'] = eval(test_dict['test'][0]['Casts'])

695